*::after::before{
    margin: 0;
    /* box-sizing: border-box; */
    padding: 0;
}
html,body{
    margin: 0px;
    padding: 0%;
    height: auto;
}
body{
    background-color:rgba(26, 91, 53, 1);
    justify-content: center;
    align-items: center;
}
.block{
    text-align: center;
    width: 100%;
}
.padding{
    padding: 20px;
}
/* .text{
    margin: auto!important;
} */

.color-text{
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}
.hello{
    color:#be8f37;
    font-family: 'Bad Script', cursive;
}
.text-end{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.text_center{
    max-width: 600px;
    margin: auto;
}
.position{
    display: flex;
    position: relative;
}
.group_1{
    position: absolute;
    left: 0px!important;
    top: 0px!important;
}
.group_3{
    position: absolute;
    left: 0px!important;

}
.bottom-0{
    /* display: flex;   
    justify-content: flex-start;
    align-items: flex-end; */
    bottom: -75px;
}
.group_2{
    position: absolute;
    right: 0px!important;
    top: 0px!important;
}
@media (min-width: 400px){
    .text{
        text-align: center;
    }
    
}
@media (max-width: 700px) {
    .leaf-none{
        display: none;
    }
    .block{
        display: flex;
    }
    .position{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .music_text{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .music_icon { 
        position: absolute;
        top: 65px;
        right: 10px;
    }
    .text-end{
        font-size: 15px;
    }
}
/* @media (min-height: 400px){
    .mega_icons{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
} */
